Package: genarts-tuttle
Priority: optional
Section: devel
Installed-Size: 322151
Maintainer: David Barker (dave.barker@genarts.com)
Architecture: __ARCH__
Version: __VERSION__-__REVISION__
Depends: libvdpau1
Description: GenArts Tuttle package

