Package: genarts-tuttle
Priority: optional
Section: devel
Installed-Size: 322151
Maintainer: David Barker (dave.barker@genarts.com)
Architecture: amd64
Version: 0.9-8
Depends: libvdpau1
Description: GenArts Tuttle package

